{% extends "base_generic.html" %}
{% block title %}
    Available Polls
{% endblock title %}
{% block content %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            {% if object_list %}
                <ol>
                    {% for question in object_list %}
                        <li>
                            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center">
                {% if user.is_authenticated and user.is_teacher %}
                    <a class="btn btn-warning" href="{% url 'polls:create-question' %}">
                        <i class="fa-solid fa-plus"></i> Create Question
                    </a>
                {% endif %}
                {% if user.is_authenticated and user.is_student %}
                    <a class="btn btn-warning disabled"
                       href="{% url 'polls:create-question' %}"
                       role="button"
                       aria-disabled="true">
                        <i class="fa-solid fa-plus"></i> Create Question
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
