{% extends "base_generic.html" %}
{% block title %}
    {{ question.question_text }}
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <ul>
                    {% for choice in question.choice_set.all %}
                        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
                    {% endfor %}
                </ul>
                <br/>
                <div class="row">
                    <a href="{% url 'polls:detail' question.id %}">Vote again?</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
